  <div class="left block {{{character_name_class}}}">
    <div class="emote {{{character_expression}}}">
      <span class="nameplate">{{{character_name}}}</span>
    </div>
    <div class="dialog">{{{character_dialog}}}</div>
  </div>
